<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <meta-data
            android:name="DATABASE"
            android:value="vocab.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="xyz.farshad.vocab.model" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WordListActivity"
            android:label="@string/title_activity_word"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LevelListActivity"
            android:label="@string/title_activity_level_list"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WordPagerActivity"
            android:label="@string/title_activity_word_pager"
            android:launchMode="singleTop" />

        <service
            android:name=".component$Server$DataTransfer"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
